.example-card {
    max-width: 100px;
    border-radius: 50%;
  }
#mat-dialog{
    display: none;
}
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
  
    list-style-type: none;
}