#tool-bar{
  background-color: #e91e63;
  position: sticky;
    top: 0;
    z-index: 1000;
}

#heading:hover{
cursor: pointer;
}
.filler {
    flex: 1 1 auto;
 }

 form {
    /* min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-right:2%; */

    position: relative;
    /* top: 50%; */
    /* left: 2%; */
    float: right;
    /* flex: 1 1 auto; */
    margin-top: 38px;
    transform: translate(0%,-50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    /* border: 4px solid white; */
    /* padding: 5px; */
  }

  .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

  form:hover{
    width: 200px;
    cursor: pointer;
    /* padding: 0%; */
  }

  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;

  }

  form:hover input{
    display: block;
  }

  form:hover .fa{
    background: #07051a;
    color: white;
}
  
  /* .example-full-width {
    width: 100%;
  } */

  .container{
    min-height: 100%;

    background-color: #212121;
  }

  .warning {
    padding: 20px 12px;
    background-color: #ffdddd;;
    border-left: 6px solid #ffeb3b;
  }